<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <welcome-file-list>
        <welcome-file>pages/front_end/index.jsp</welcome-file>
    </welcome-file-list>
    <!--TODO add mappings-->
    <!--<filter>-->
    <!--<filter-name>UserFilter</filter-name>-->
    <!--<filter-class>filter.UserFilter</filter-class>-->
    <!--</filter>-->

    <!--URL redirect-->
    <servlet>
        <servlet-name>RedirectLoginServlet</servlet-name>
        <servlet-class>servlet.urlRewrite.RedirectLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RedirectLoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RedirectRegisterServlet</servlet-name>
        <servlet-class>servlet.urlRewrite.RedirectRegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RedirectRegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RedirectTeamMessageServlet</servlet-name>
        <servlet-class>servlet.urlRewrite.RedirectTeamMessageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RedirectTeamMessageServlet</servlet-name>
        <url-pattern>/team/*</url-pattern>
    </servlet-mapping>

    <!--TODO add mappings-->
    <!--other servlet-->
    <!--<servlet>-->
    <!--<servlet-name>LoginServlet</servlet-name>-->
    <!--<servlet-class>servlet.LoginServlet</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet>-->
    <!--<servlet-name>RegisterServlet</servlet-name>-->
    <!--<servlet-class>servlet.RegisterServlet</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet>-->
    <!--<servlet-name>LogoutServlet</servlet-name>-->
    <!--<servlet-class>servlet.LogoutServlet</servlet-class>-->
    <!--</servlet>-->
</web-app>