<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <welcome-file-list>
        <welcome-file>/pages/front_end/index.html</welcome-file>
    </welcome-file-list>
    <!--TODO add mappings-->
    <!--<filter>-->
    <!--<filter-name>UserFilter</filter-name>-->
    <!--<filter-class>filter.UserFilter</filter-class>-->
    <!--</filter>-->

    <!--URL redirect-->


    <error-page>
        <error-code>404</error-code>
        <location>/pages/front_end/404.jsp</location>
    </error-page>


    <!--TODO add mappings-->
    <!--other servlet-->
    <servlet>
        <servlet-name>SignInServlet</servlet-name>
        <servlet-class>servlet.SigninServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignInServlet</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>servlet.SignupServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>TeamServlet</servlet-name>
        <servlet-class>servlet.TeamServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TeamServlet</servlet-name>
        <url-pattern>/team</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>MessageServlet</servlet-name>
        <servlet-class>servlet.MessageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MessageServlet</servlet-name>
        <url-pattern>/message</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SignOutServlet</servlet-name>
        <servlet-class>servlet.SignoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignOutServlet</servlet-name>
        <url-pattern>/signout</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>GetTeamServlet</servlet-name>
        <servlet-class>servlet.TeamServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetTeamServlet</servlet-name>
        <url-pattern>/get-team</url-pattern>
    </servlet-mapping>
</web-app>